body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #27ae60;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

button {
  background: #27ae60;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #219150;
}

#mensaje {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}